/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
  padding: 0;
}

body {
  margin: 10px;
  font-family: 'verdana', sans-serif;
  color: #f4b942;
  background: #4286f4;
}

header {
  min-height: 400px;
  background-image: url('../img/monkaa_title.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#social {
  position: absolute;
  top: 50px;
  right: 0;
  width: 25px;
  transition: 2s width;
  background: #a8dae2;
}

#social:hover {
  width: 250px;
}

#social ul {
  list-style-type: none;
  padding: 0;
}

#social li {
  margin: 0;
  padding: 0;
}

.main-nav {
  list-style-type: none;
  float: center;
  overflow: hidden;
  align-self: center;
}

.main-nav a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  width: 200px;
  float: center;
  display: inline-block center;
}

.main-nav ul {
  display: inline-block;
}

.main-nav li a {
  padding: 14px 16px;
  width: 300px;
  text-decoration: none;
  color: #98dd3e;
}

.main-nav a:hover {
  background-color: #ddd;
  color: black;
}

.lead {
  padding: 25px;
  text-shadow: 1px 2px gray;
}

.download-button {
  padding: 25px;
}

.weybec-people {
  list-style-type: none;
  text-align: center;
  display: inline;
}

#info {
  padding: 25px;
}

#project {
  padding: 25px;
}

.pratik {
  width: 80%;
  margin: auto;
  text-align: center;
}

.nita {
  width: 100%;
  margin: auto;
  text-align: center;
}

.niyal {
  width: 80%;
  margin: auto;
  text-align: center;
}

footer {
  padding: 25px;
  text align: center;
}